

/*Text*/


/*Overall Font*/
*{ font-family: 'Georgia' }


/*  Paragraph style with limited page width; 
words wrap. New lines are preserved as in the code */
.p  
{
	width: 700px;
	padding-top: 10px;
    padding-bottom: 10px;
	
	font-size: 11pt;
	line-height: 15pt;
	
	word-wrap: normal;
}

.free /* Free writing - preserves tabs, new lines, spaces, etc. */
{ white-space: pre }


.freeLine /* Preserves new lines */
{ white-space: pre-line }


.in-05
{ margin-left: 20px; }

.in-1
{ margin-left: 40px; }

.in-2 
{ margin-left: 80px; }

.in-3 
{ margin-left: 120px; }




/*Images*/

img.img10 
{ max-width: 10% ; border: 1px solid ; margin: 2px}

img.img25 
{ max-width: 25% ; border: 1px solid ; margin: 2px}

img.img30
{ max-width: 30% ; border: 1px solid ; margin: 2px}

img.img40
{ max-width: 40% ; border: 1px solid ; margin: 2px}
